# Ticket Pridiction

In [136]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [137]:
pd.set_option('display.max_columns', None)

In [138]:
X_test = pd.read_csv("X_test.csv")

In [139]:
print(X_test.shape) 
X_test.head()

(4532489, 10)

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10
0,2021-09-01 08:30:19.320999+00:00,x,y,2021-09-08 11:00:00+00:00,2021-09-08 12:55:00+00:00,beta,True,40.0,0,b-69
1,2021-09-01 08:30:19.320999+00:00,x,y,2021-09-08 14:00:00+00:00,2021-09-08 15:55:00+00:00,beta,True,40.0,0,b-9
2,2021-09-01 08:30:19.320999+00:00,x,y,2021-09-08 05:00:00+00:00,2021-09-08 06:55:00+00:00,beta,True,20.0,0,b-1
3,2021-09-01 08:30:20.396761+00:00,x,y,2021-09-08 05:30:00+00:00,2021-09-08 07:30:00+00:00,gamma,True,20.0,2,c-2
4,2021-09-01 08:30:20.396761+00:00,x,y,2021-09-08 05:30:00+00:00,2021-09-08 07:30:00+00:00,gamma,True,20.0,1,c-2

In [140]:
y_train = pd.read_csv("y_train.csv")

In [141]:
y_train.head()

   Unnamed: 0   target
0           0   7400.0
1           1   8650.0
2           2   9150.0
3           3  10400.0
4           4   8697.0

In [142]:
y_train.columns

Index(['Unnamed: 0', 'target'], dtype='object')

In [143]:
y_train.drop(['Unnamed: 0'],axis = 1)

           target
0          7400.0
1          8650.0
2          9150.0
3         10400.0
4          8697.0
...           ...
21776585   8381.0
21776586   9045.0
21776587   6155.0
21776588   6155.0
21776589   6605.0

[21776590 rows x 1 columns]

In [144]:
test_columns = ["Ticket Purchase Date Time","Origin","Destination","Departure Date Time",
                "Arrival Date Time","Airline","Refundable Ticket","Baggage Weight","Baggage Pieces",
                "Flight Number"]

In [145]:
dateTimeFormatter = '%Y-%m-%d %H:%M:%S.%f'

In [146]:
X_train = pd.read_csv("X_train.csv")

In [147]:
X_train.head(10)

,Unnamed: 0,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10
0,0,2020-12-31 09:46:17.463002+00:00,x,y,2021-01-10 05:00:00+00:00,2021-01-10 07:00:00+00:00,gamma,True,0.0,0,c-2
1,1,2020-12-31 09:46:17.463002+00:00,x,y,2021-01-10 05:00:00+00:00,2021-01-10 07:00:00+00:00,gamma,True,32.0,1,c-2
2,2,2020-12-31 09:46:17.463002+00:00,x,y,2021-01-10 11:00:00+00:00,2021-01-10 13:00:00+00:00,gamma,True,32.0,1,c-4
3,3,2020-12-31 09:46:17.463002+00:00,x,y,2021-01-10 11:00:00+00:00,2021-01-10 13:00:00+00:00,gamma,True,32.0,2,c-4
4,4,2020-12-31 09:46:18.191119+00:00,x,y,2021-01-25 11:00:00+00:00,2021-01-25 12:55:00+00:00,beta,False,20.0,0,b-69
5,5,2020-12-31 09:46:18.191119+00:00,x,y,2021-01-25 05:00:00+00:00,2021-01-25 06:55:00+00:00,beta,False,20.0,0,b-1
6,6,2020-12-31 09:46:18.191119+00:00,x,y,2021-01-25 14:00:00+00:00,2021-01-25 15:55:00+00:00,beta,False,20.0,0,b-9
7,7,2020-12-31 09:46:18.191119+00:00,x,y,2021-01-25 16:00:00+00:00,2021-01-25 17:55:00+00:00,beta,False,20.0,0,b-19
8,8,2020-12-31 09:46:19.878719+00:00,x,y,2021-01-25 11:00:00+00:00,2021-01-25 13:00:00+00:00,gamma,True,32.0,2,c-4
9,9,2020-12-31 09:46:19.878719+00:00,x,y,2021-01-25 11:00:00+00:00,2021-01-25 13:00:00+00:00,gamma,True,32.0,1,c-4

In [148]:
X_train.shape

(21776590, 11)

In [149]:
(y_train.shape)

(21776590, 2)

In [150]:
test_columns

['Ticket Purchase Date Time',
 'Origin',
 'Destination',
 'Departure Date Time',
 'Arrival Date Time',
 'Airline',
 'Refundable Ticket',
 'Baggage Weight',
 'Baggage Pieces',
 'Flight Number']

In [156]:
def prepareDate(df):
    pd.options.mode.chained_assignment = None 

    if 'Unnamed: 0' in df:
        df = df.drop(['Unnamed: 0'],axis = 1)
    df.columns = test_columns
    #convert column to date time 
    df[[test_columns[0],test_columns[3],test_columns[4]]] = df[[test_columns[0],test_columns[3],test_columns[4]]].apply(pd.to_datetime, format=dateTimeFormatter)
    #seperating 
    df["Ticket_Purchase_Day"] = pd.to_datetime(df[test_columns[0]],format=dateTimeFormatter).dt.day
    df["Ticket_Purchase_Month"] = pd.to_datetime(df[test_columns[0]],format=dateTimeFormatter).dt.month
    df["Ticket_Purchase_Year"] = pd.to_datetime(df[test_columns[0]],format=dateTimeFormatter).dt.year
    df["Ticket_Purchase_Hour"] = pd.to_datetime(df[test_columns[0]],format=dateTimeFormatter).dt.hour
    df["Ticket_Purchase_Minute"] = pd.to_datetime(df[test_columns[0]],format=dateTimeFormatter).dt.minute

    df["Departure_Day"] = pd.to_datetime(df[test_columns[3]],format=dateTimeFormatter).dt.day
    df["Departure_Month"] = pd.to_datetime(df[test_columns[3]],format=dateTimeFormatter).dt.month
    df["Departure_Year"] = pd.to_datetime(df[test_columns[3]],format=dateTimeFormatter).dt.year
    df["Departure_Hour"] = pd.to_datetime(df[test_columns[3]],format=dateTimeFormatter).dt.hour
    df["Departure_Minute"] = pd.to_datetime(df[test_columns[3]],format=dateTimeFormatter).dt.minute
    
    df["Arrival_Day"] = pd.to_datetime(df[test_columns[4]],format=dateTimeFormatter).dt.day
    df["Arrival_Month"] = pd.to_datetime(df[test_columns[4]],format=dateTimeFormatter).dt.month
    df["Arrival_Year"] = pd.to_datetime(df[test_columns[4]],format=dateTimeFormatter).dt.year
    df["Arrival_Hour"] = pd.to_datetime(df[test_columns[4]],format=dateTimeFormatter).dt.hour
    df["Arrival_Minute"] = pd.to_datetime(df[test_columns[4]],format=dateTimeFormatter).dt.minute

    df.drop([test_columns[0],test_columns[1],test_columns[2],test_columns[3], test_columns[4]], axis = 1, inplace = True)
    
    #Airline = pd.get_dummies(df[test_columns[5]], drop_first= True)
    #BaggageWeight = pd.get_dummies(df[test_columns[7]], drop_first= True) 
    #BaggagePieces = pd.get_dummies(df[test_columns[8]], drop_first= True) 
    FlightNumber = pd.get_dummies(df[test_columns[9]], drop_first= True) 
    
    df.replace({True: 1, False: 0}, inplace = True)
    df.replace({'alpha': 0, 'gamma': 1, "beta":2,"omega":3}, inplace = True)
    df.replace({0: 0, 15:1, 20:2, 32:3, 35:4, 40:5, 45:6}, inplace = True)

    #df = pd.concat([df, Airline, Source, Destination], axis = 1)

    df = pd.concat([df, FlightNumber], axis = 1)

    #data_test.drop(["Airline", "Source", "Destination"], axis = 1, inplace = True)
    df.drop([test_columns[9]], axis = 1, inplace = True)


    return df

In [157]:

X_train_final = prepareDate(X_train.head(100))

In [158]:
X_train_final.head()

,Airline,Refundable Ticket,Baggage Weight,Baggage Pieces,Ticket_Purchase_Day,Ticket_Purchase_Month,Ticket_Purchase_Year,Ticket_Purchase_Hour,Ticket_Purchase_Minute,Departure_Day,Departure_Month,Departure_Year,Departure_Hour,Departure_Minute,Arrival_Day,Arrival_Month,Arrival_Year,Arrival_Hour,Arrival_Minute,a-5,a-7,b-1,b-19,b-69,b-9,c-2,c-4
0,1,1,0.0,0,31,12,2020,9,46,10,1,2021,5,0,10,1,2021,7,0,0,0,0,0,0,0,1,0
1,1,1,3.0,1,31,12,2020,9,46,10,1,2021,5,0,10,1,2021,7,0,0,0,0,0,0,0,1,0
2,1,1,3.0,1,31,12,2020,9,46,10,1,2021,11,0,10,1,2021,13,0,0,0,0,0,0,0,0,1
3,1,1,3.0,2,31,12,2020,9,46,10,1,2021,11,0,10,1,2021,13,0,0,0,0,0,0,0,0,1
4,2,0,2.0,0,31,12,2020,9,46,25,1,2021,11,0,25,1,2021,12,55,0,0,0,0,1,0,0,0

In [161]:
X_test_final = prepareDate(X_test)
X_test_final['Price'] = y_train['target']

In [162]:
X_test_final.head()

,Airline,Refundable Ticket,Baggage Weight,Baggage Pieces,Ticket_Purchase_Day,Ticket_Purchase_Month,Ticket_Purchase_Year,Ticket_Purchase_Hour,Ticket_Purchase_Minute,Departure_Day,Departure_Month,Departure_Year,Departure_Hour,Departure_Minute,Arrival_Day,Arrival_Month,Arrival_Year,Arrival_Hour,Arrival_Minute,a-23,a-5,a-7,a-9,b-1,b-19,b-319,b-369,b-67,b-69,b-73,b-9,c-2,c-4,c-6,d-1,d-3,d-5,Price
0,2,1,5.0,0,1,9,2021,8,30,8,9,2021,11,0,8,9,2021,12,55,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,7400.0
1,2,1,5.0,0,1,9,2021,8,30,8,9,2021,14,0,8,9,2021,1,55,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,8650.0
2,2,1,2.0,0,1,9,2021,8,30,8,9,2021,5,0,8,9,2021,6,55,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,9150.0
3,1,1,2.0,2,1,9,2021,8,30,8,9,2021,5,30,8,9,2021,7,30,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,10400.0
4,1,1,2.0,1,1,9,2021,8,30,8,9,2021,5,30,8,9,2021,7,30,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,8697.0