In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score, RandomizedSearchCV
from lazypredict.Supervised import LazyRegressor
from sklearn.linear_model import LinearRegression, ElasticNet, Lasso, Ridge, HuberRegressor, LogisticRegression, BayesianRidge
from sklearn.tree import DecisionTreeRegressor, ExtraTreeRegressor
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor, GradientBoostingRegressor, VotingRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from xgboost import XGBRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error

import warnings
warnings.filterwarnings('ignore')

In [5]:

df_X_train = pd.read_csv('X_train.csv')
df_Y_train = pd.read_csv('y_train.csv')
df2 = df_Y_train['target']
df_X_train['target'] = df2

In [3]:

X_test = pd.read_csv("X_test.csv")
print(X_test.shape) 
X_test.head()

(4532489, 10)

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10
0,2021-09-01 08:30:19.320999+00:00,x,y,2021-09-08 11:00:00+00:00,2021-09-08 12:55:00+00:00,beta,True,40.00,0,b-69
1,2021-09-01 08:30:19.320999+00:00,x,y,2021-09-08 14:00:00+00:00,2021-09-08 15:55:00+00:00,beta,True,40.00,0,b-9
2,2021-09-01 08:30:19.320999+00:00,x,y,2021-09-08 05:00:00+00:00,2021-09-08 06:55:00+00:00,beta,True,20.00,0,b-1
3,2021-09-01 08:30:20.396761+00:00,x,y,2021-09-08 05:30:00+00:00,2021-09-08 07:30:00+00:00,gamma,True,20.00,2,c-2
4,2021-09-01 08:30:20.396761+00:00,x,y,2021-09-08 05:30:00+00:00,2021-09-08 07:30:00+00:00,gamma,True,20.00,1,c-2

In [6]:
df_X_train.head(10)

,Unnamed: 0,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,target
0,0,2020-12-31 09:46:17.463002+00:00,x,y,2021-01-10 05:00:00+00:00,2021-01-10 07:00:00+00:00,gamma,True,0.00,0,c-2,7400.00
1,1,2020-12-31 09:46:17.463002+00:00,x,y,2021-01-10 05:00:00+00:00,2021-01-10 07:00:00+00:00,gamma,True,32.00,1,c-2,8650.00
2,2,2020-12-31 09:46:17.463002+00:00,x,y,2021-01-10 11:00:00+00:00,2021-01-10 13:00:00+00:00,gamma,True,32.00,1,c-4,9150.00
3,3,2020-12-31 09:46:17.463002+00:00,x,y,2021-01-10 11:00:00+00:00,2021-01-10 13:00:00+00:00,gamma,True,32.00,2,c-4,10400.00
4,4,2020-12-31 09:46:18.191119+00:00,x,y,2021-01-25 11:00:00+00:00,2021-01-25 12:55:00+00:00,beta,False,20.00,0,b-69,8697.00
5,5,2020-12-31 09:46:18.191119+00:00,x,y,2021-01-25 05:00:00+00:00,2021-01-25 06:55:00+00:00,beta,False,20.00,0,b-1,8697.00
6,6,2020-12-31 09:46:18.191119+00:00,x,y,2021-01-25 14:00:00+00:00,2021-01-25 15:55:00+00:00,beta,False,20.00,0,b-9,8697.00
7,7,2020-12-31 09:46:18.191119+00:00,x,y,2021-01-25 16:00:00+00:00,2021-01-25 17:55:00+00:00,beta,False,20.00,0,b-19,8697.00
8,8,2020-12-31 09:46:19.878719+00:00,x,y,2021-01-25 11:00:00+00:00,2021-01-25 13:00:00+00:00,gamma,True,32.00,2,c-4,9900.00
9,9,2020-12-31 09:46:19.878719+00:00,x,y,2021-01-25 11:00:00+00:00,2021-01-25 13:00:00+00:00,gamma,True,32.00,1,c-4,8650.00

In [7]:
def prepareData(df):
    pd.options.mode.chained_assignment = None 

    if 'Unnamed: 0' in df:
        df = df.drop(['Unnamed: 0'],axis = 1)
    df.columns = test_columns
    #convert column to date time 
    df[[test_columns[0],test_columns[3],test_columns[4]]] = df[[test_columns[0],test_columns[3],test_columns[4]]].apply(pd.to_datetime, format=dateTimeFormatter)
    #seperating 
    df["Ticket_Purchase_Day"] = pd.to_datetime(df[test_columns[0]],format=dateTimeFormatter).dt.day
    df["Ticket_Purchase_Month"] = pd.to_datetime(df[test_columns[0]],format=dateTimeFormatter).dt.month
    df["Ticket_Purchase_Year"] = pd.to_datetime(df[test_columns[0]],format=dateTimeFormatter).dt.year
    df["Ticket_Purchase_Hour"] = pd.to_datetime(df[test_columns[0]],format=dateTimeFormatter).dt.hour
    df["Ticket_Purchase_Minute"] = pd.to_datetime(df[test_columns[0]],format=dateTimeFormatter).dt.minute

    df["Departure_Day"] = pd.to_datetime(df[test_columns[3]],format=dateTimeFormatter).dt.day
    df["Departure_Month"] = pd.to_datetime(df[test_columns[3]],format=dateTimeFormatter).dt.month
    df["Departure_Year"] = pd.to_datetime(df[test_columns[3]],format=dateTimeFormatter).dt.year
    df["Departure_Hour"] = pd.to_datetime(df[test_columns[3]],format=dateTimeFormatter).dt.hour
    df["Departure_Minute"] = pd.to_datetime(df[test_columns[3]],format=dateTimeFormatter).dt.minute
    
    df["Arrival_Day"] = pd.to_datetime(df[test_columns[4]],format=dateTimeFormatter).dt.day
    df["Arrival_Month"] = pd.to_datetime(df[test_columns[4]],format=dateTimeFormatter).dt.month
    df["Arrival_Year"] = pd.to_datetime(df[test_columns[4]],format=dateTimeFormatter).dt.year
    df["Arrival_Hour"] = pd.to_datetime(df[test_columns[4]],format=dateTimeFormatter).dt.hour
    df["Arrival_Minute"] = pd.to_datetime(df[test_columns[4]],format=dateTimeFormatter).dt.minute
    DepartHours = df["Departure_Hour"] + (df["Departure_Minute"]/60)
    ArrivalHours = df["Arrival_Hour"] + (df["Arrival_Minute"]/60)
    df["FlightDuration"] = ArrivalHours - DepartHours
    df.drop([test_columns[0],test_columns[1],test_columns[2],test_columns[3], test_columns[4]], axis = 1, inplace = True)

    #Airline = pd.get_dummies(df[test_columns[5]], drop_first= True)
    #BaggageWeight = pd.get_dummies(df[test_columns[7]], drop_first= True) 
    #BaggagePieces = pd.get_dummies(df[test_columns[8]], drop_first= True) 
    FlightNumber = pd.get_dummies(df[test_columns[9]], drop_first= True) 
    
    df.replace({True: 1, False: 0}, inplace = True)
    df.replace({'alpha': 0, 'gamma': 1, "beta":2,"omega":3}, inplace = True)
    df.replace({0: 0, 15:1, 20:2, 32:3, 35:4, 40:5, 45:6}, inplace = True)

    #df = pd.concat([df, Airline, Source, Destination], axis = 1)

    df = pd.concat([df, FlightNumber], axis = 1)

    #data_test.drop(["Airline", "Source", "Destination"], axis = 1, inplace = True)
    df.drop([test_columns[9]], axis = 1, inplace = True)


    return df

In [8]:
dateTimeFormatter = '%Y-%m-%d %H:%M:%S.%f'

In [9]:
test_columns = ["Ticket Purchase Date Time","Origin","Destination","Departure Date Time",
                "Arrival Date Time","Airline","Refundable Ticket","Baggage Weight","Baggage Pieces",
                "Flight Number",'Price']

In [10]:
test_columns

['Ticket Purchase Date Time',
 'Origin',
 'Destination',
 'Departure Date Time',
 'Arrival Date Time',
 'Airline',
 'Refundable Ticket',
 'Baggage Weight',
 'Baggage Pieces',
 'Flight Number',
 'Price']

In [11]:
X_train_final = prepareData(df_X_train.head(1000))

In [12]:
X_train_final

,Airline,Refundable Ticket,Baggage Weight,Baggage Pieces,Price,Ticket_Purchase_Day,Ticket_Purchase_Month,Ticket_Purchase_Year,Ticket_Purchase_Hour,Ticket_Purchase_Minute,Departure_Day,Departure_Month,Departure_Year,Departure_Hour,Departure_Minute,Arrival_Day,Arrival_Month,Arrival_Year,Arrival_Hour,Arrival_Minute,FlightDuration,a-5,a-7,b-1,b-19,b-67,b-69,b-9,c-2,c-4,c-6
0,1,1,0.00,0,7400.00,31,12,2020,9,46,10,1,2021,5,0,10,1,2021,7,0,2.00,0,0,0,0,0,0,0,1,0,0
1,1,1,3.00,1,8650.00,31,12,2020,9,46,10,1,2021,5,0,10,1,2021,7,0,2.00,0,0,0,0,0,0,0,1,0,0
2,1,1,3.00,1,9150.00,31,12,2020,9,46,10,1,2021,11,0,10,1,2021,13,0,2.00,0,0,0,0,0,0,0,0,1,0
3,1,1,3.00,2,10400.00,31,12,2020,9,46,10,1,2021,11,0,10,1,2021,13,0,2.00,0,0,0,0,0,0,0,0,1,0
4,2,0,2.00,0,8697.00,31,12,2020,9,46,25,1,2021,11,0,25,1,2021,12,55,1.92,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,1,0.00,0,8739.00,31,12,2020,10,12,9,1,2021,5,1,9,1,2021,7,25,2.17,0,0,0,0,0,0,0,0,0,0
996,0,1,2.00,1,10227.00,31,12,2020,10,12,9,1,2021,13,0,9,1,2021,1,0,2.00,1,0,0,0,0,0,0,0,0,0
997,2,0,2.00,0,8697.00,31,12,2020,10,13,12,1,2021,16,0,12,1,2021,17,55,1.92,0,0,0,1,0,0,0,0,0,0
998,2,0,2.00,0,8697.00,31,12,2020,10,13,12,1,2021,14,0,12,1,2021,1,55,1.92,0,0,0,0,0,0,1,0,0,0
999,2,0,2.00,0,8697.00,31,12,2020,10,13,12,1,2021,5,0,12,1,2021,6,55,1.92,0,0,1,0,0,0,0,0,0,0

In [13]:
dff = X_train_final[['Airline', 'Ticket_Purchase_Day', 'Ticket_Purchase_Month', 'Ticket_Purchase_Year','Price', 'FlightDuration']]
dff.shape

(1000, 6)

In [14]:
dff.isnull().any().any()

False

In [16]:
dff.head()

,Airline,Ticket_Purchase_Day,Ticket_Purchase_Month,Ticket_Purchase_Year,Price,FlightDuration
0,1,31,12,2020,7400.00,2.00
1,1,31,12,2020,8650.00,2.00
2,1,31,12,2020,9150.00,2.00
3,1,31,12,2020,10400.00,2.00
4,2,31,12,2020,8697.00,1.92

In [17]:
X = dff.drop('Price', axis=1)
y = dff['Price']

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((700, 5), (300, 5), (700,), (300,))

In [19]:
models = [['LinearRegression : ', LinearRegression()],
          ['ElasticNet :', ElasticNet()],
          ['Lasso : ', Lasso()],
          ['Ridge : ', Ridge()],
          ['KNeighborsRegressor : ', KNeighborsRegressor()],
          ['DecisionTreeRegressor : ', DecisionTreeRegressor()],
          ['RandomForestRegressor : ', RandomForestRegressor()],
          ['SVR : ', SVR()],
          ['AdaBoostRegressor : ', AdaBoostRegressor()],
          ['GradientBoostingRegressor : ', GradientBoostingRegressor()],
          ['ExtraTreeRegressor : ', ExtraTreeRegressor()],
          ['HuberRegressor : ', HuberRegressor()],
          ['XGBRegressor : ', XGBRegressor()],
          ['BayesianRidge : ', BayesianRidge()]]

In [29]:
from sklearn import metrics

In [33]:
for name, model in models:
    model=model
    model.fit(X_train, y_train)
    predictions = model.predict(X_test)
    print("prediction:"+name, metrics.r2_score(y_test, predictions))
    print(name, (np.sqrt(mean_squared_error(y_test, predictions))))

prediction:LinearRegression :  -0.021224218308341536
LinearRegression :  1295.1488059796752
prediction:ElasticNet : -0.011074469509070983
ElasticNet : 1288.6966181982323
prediction:Lasso :  -0.01905955477342758
Lasso :  1293.7754304864384
prediction:Ridge :  -0.018483422814105754
Ridge :  1293.4096565961354
prediction:KNeighborsRegressor :  -0.01044424238713293
KNeighborsRegressor :  1288.2949177368769
prediction:DecisionTreeRegressor :  0.03478649239650389
DecisionTreeRegressor :  1259.130697784949
prediction:RandomForestRegressor :  0.03430583681113997
RandomForestRegressor :  1259.4441687794033
prediction:SVR :  -0.3691222101129714
SVR :  1499.6165495473379
prediction:AdaBoostRegressor :  0.03419352507558748
AdaBoostRegressor :  1259.5174043095192
prediction:GradientBoostingRegressor :  0.03478739311024648
GradientBoostingRegressor :  1259.1301102897582
prediction:ExtraTreeRegressor :  0.03478649239650389
ExtraTreeRegressor :  1259.130697784949
prediction:HuberRegressor :  -0.08543054929248295
HuberRegressor :  1335.2424685912383
prediction:XGBRegressor :  0.0347864096760242
XGBRegressor :  1259.1307517397956
prediction:BayesianRidge :  -0.012038510041644246
BayesianRidge :  1289.310845840191

In [21]:
algorithms = {
    'XGBRegressor' : {
        'model' : XGBRegressor(),
        'param' : {
            'learning_rate' : [0.5, 0.8, 0.1, 0.20, 0.25, 0.30],
            'max_depth' : [3, 5, 7, 9, 11, 13, 15],
            'gamma' : [0.1,0.2, 0.3, 0.4, 0.5],
            'min_child_weight' : [1, 3, 5, 7, 9],
            'colsample_bytree' : [0.5, 0.8, 0.1, 0.20, 0.25, 0.30]
        }
    },
    'RandomForestRegressor' : {
        'model' : RandomForestRegressor(),
        'param' : {
            'n_estimators' : [300, 500, 700, 1000, 2100],
            'max_depth' : [3, 5, 7, 9, 11, 13, 15],
            'max_features' : ["auto", "sqrt", "log2"],
            'min_samples_split' : [2, 4, 6, 8]
        }
    },
    'GradientBoostingRegressor' : {
        'model' : GradientBoostingRegressor(),
        'param' : {
            'learning_rate' : [0.5, 0.8, 0.1, 0.20, 0.25, 0.30],
            'n_estimators' : [300, 500, 700, 1000, 2100],
            'criterion' : ['friedman_mse', 'mse']
        }
    }
}

In [22]:
score = []

for name, mp in algorithms.items() :
    rs = RandomizedSearchCV(estimator = mp['model'], param_distributions = mp['param'], cv = 10, n_jobs=-1, verbose=3)
    rs.fit(X_train, y_train)
    score.append({
        'model': name,
        'score' : rs.best_score_,
        'params' : rs.best_params_
    })

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    5.4s finished
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 16 concurrent workers.

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   12.5s finished

Fitting 10 folds for each of 10 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    2.1s finished

In [ ]:
#X_train, X_test, y_train, y_test
metrics.r2_score(y_test, y_pred)

In [27]:
type(models)

list

In [23]:
final = pd.DataFrame(score, columns=['model', 'score', 'params'])
final

,model,score,params
0,XGBRegressor,0.07,"{'min_child_weight': 3, 'max_depth': 11, 'lear..."
1,RandomForestRegressor,0.07,"{'n_estimators': 700, 'min_samples_split': 2, ..."
2,GradientBoostingRegressor,0.07,"{'n_estimators': 300, 'learning_rate': 0.2, 'c..."